-e .[all]

black[jupyter]
build
flake8
ipytest
ipython
jupyter
loguru
matplotlib
mike
mkdocs>=1.2.2
mkdocs-jupyter
mkdocs-material>=7.2.6
mkdocstrings[python-legacy]>=0.19.0
mypy
nbautoexport
pandas
pillow
psutil
pydantic
pytest
# pytest-cases
git+https://github.com/jayqi/python-pytest-cases@packaging-version
pytest-cov
pytest-xdist
python-dotenv
pywin32; sys_platform == 'win32'
rich
shortuuid
tabulate
tqdm
typer
wheel
