-e .[all]

black
flake8
ipytest
ipython
jupyter
matplotlib
mkdocs>=1.1
mkdocs-jupyter
mkdocs-material>=7
mkdocstrings>=0.15
mypy
pandas
pillow
psutil
pydantic
pytest
pytest-cases
pytest-cov
python-dotenv
pywin32; sys_platform == 'win32'
shortuuid
tabulate
wheel
