-e .[all]

black
flake8
ipython
jupyter
matplotlib
mkdocs>=1.1
mkdocs-jupyter
mkdocs-material
mkdocstrings
mypy
pandas
pillow
pytest
pytest-cases
pytest-cov
python-dotenv
pywin32; sys_platform == 'win32'
shortuuid
tabulate
wheel
